<div>
    <p-card>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                <div class="card overflow-hidden dash1-card border-0 dash1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <!-- <bip-label [label]="'incident.totalNoOfIncident'"></bip-label> -->
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6 col-6">
                                <div class="">
                                    <h2 class="mb-2 number-font carn1 font-weight-bold">1</h2>
                                    <span class=""><i class="fe fe-arrow-up-circle"></i> 76% <span
                                            class="ms-1 fs-11">Growth
                                            This Month</span></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6 col-6 my-auto mx-auto">
                                <div class="mx-auto text-right">
                                    <div id="spark1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                <div class="card overflow-hidden dash1-card border-0 dash2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <!-- <bip-label [label]="'incident.totatNoRootCauses'"></bip-label> -->
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6 col-6">
                                <div class="">
                                    <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">2</h2>
                                    <span class=""><i class="fe fe-arrow-down-circle"></i> 15% <span
                                            class="ms-1 fs-11">Loss
                                            This Month</span></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6 col-6 my-auto mx-auto">
                                <div class="mx-auto text-right">
                                    <div id="spark2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                <div class="card overflow-hidden dash1-card border-0 dash3" pTooltip="click me">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <!-- <bip-label [label]="'incident.noOfCorrectiveActions'"></bip-label> -->
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6 col-6">
                                <div class="">
                                    <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">3</h2>
                                    <span class="">
                                        <i class="fe fe-arrow-up-circle"></i> 62%
                                        <span class="ms-1 fs-11">From Last Month</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6 col-6 my-auto mx-auto">
                                <div class="mx-auto text-right">
                                    <div id="spark3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12" routerLink="charts">
                <div class="card overflow-hidden dash1-card border-0 dash4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <!-- <bip-label [label]="'incident.noOfIncAssignedToPlants'"></bip-label> -->
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6 col-6">
                                <div class="text-justify">
                                    <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">4</h2>
                                    <span class=""><i class="fe fe-arrow-up-circle"></i> 53% <span
                                            class="ms-1 fs-11">From
                                            Last
                                            Month</span></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6 col-6 my-auto mx-auto">
                                <div class="mx-auto text-right">
                                    <div id="spark4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-card>
</div>